[submodule "boost"]
    path = lib/boost
    url = https://github.com/boostorg/boost.git
    branch = boost-1.71.0
[submodule "googletest"]
  path = test/lib/googletest
  url = https://github.com/google/googletest.git
  branch = master
[submodule "test/lib/googletest"]
	path = test/lib/googletest
	url = https://github.com/google/googletest.git
